.time{
    padding-top: 15px;
     color:     #71C0B4;
    font-size: 18px;
  position: relative;
  text-align: center;

}
.date{
   color:     #71C0B4;
    font-size: 18px;
  position: relative;
  text-align: center;
}

.cat{
    background-color:   #71C0B4;
    color: white;
    height: 36px;
    width: 90px;
    font-size: 25px;
vertical-align: middle;
border-radius: 12%;
border-radius: 5px;
text-align: center;
display:inline-block;
margin-left: 25px;
}
.message{
    color: white;
    position: relative;
    padding: 10px;
    
text-align: center;
background-color: #71C0B4;
margin-top: -18px;
height: 125px;
margin-bottom: 10px;


}
.message2{
     color: white;
    position: relative;
    padding: 10px;
    
text-align: center;
margin-top: -72px;

height: 100px;
margin-bottom: 10px;

}
.send{
    color: white;
     background-color: #71C0B4;
    font-size: 20px;
    height: 50px;
    width: 200px;
    align-content: center;
    position: relative;
    text-align: center;
    margin-left: 50px;
        border-radius: 12%;
    border-radius: 25px;
 position: absolute;
 margin-top: -30px;
     margin-top: 50px;

}

.input2{
    margin-top: 60px;
    font-size: 5px;
    color: #71C0B4;
 
    font-size: 20px;
    height: 70px;
    width: 260px;

    align-content: center;
    position: relative;
    text-align: center;
  border-color: #71C0B4;
  

    
    border-radius: 0px;
}
.condition{
    color: #71C0B4;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;

   
}
.sendTo{
    
     color:     #71C0B4;
    font-size: 20px;
  position: relative;
  text-align: center;
}
.Injured{
    color: #71C0B4;
    margin-left: 55px;
    
    margin-bottom: -124px;
        margin-top: -26px;

    
    
}
.Danger{
    padding-top: 30px;
    color: #71C0B4;
    padding-bottom: 40px;
     margin-left: 46px;
     margin-top: 120px;
}
   
 .title2{
       color: #71C0B4;
       font-size: 15px;
       position: relative;

    }
    
    .label{
       color:  white;
font-size: 15px;
background-color: #71C0B4;
border-radius: 12%;
border-radius: 5px;
text-align: center;

    }
.one{
    color: #71C0B4;
    
    margin-top:12px;
    font-size: 18px;
    text-align: center;
}
.two{
     font-size: 18px;
     color: #71C0B4;
      margin-top:12px;
      text-align: center;
}