.block{
    position: relative;
}
    .deleteIcon {
        position: absolute
        margin-left;
        margin-top:5px;
        color:#000000
    }
    .camera{
        display: inline-block;
        float: left;
        color:  #F1FFFD;
        
       
        
    }
   
       .gam{
           width:35% !important;  
height : 35% !important;  
max-width: 35px !important;  //any size
max-height: 35px !important; 
margin-left: 227px;
       } 
    .cam{
           width:40% !important;  
height : 40% !important;  
max-width: 40px !important;  //any size
max-height: 40px !important; 
margin-bottom: 3px;

    }
    .albums{
        display: inline-block;
        float: right;
      

    }
    .buttons{
           margin-top: -550px;

        z-index: 100;
        margin-left: 20px;
        margin-right: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
margin-bottom: 40px;
padding-bottom: 20px;



    }
    #map{
        height: 100%;
        width: 100%;
    }
     .color{
    background-color: #F1FFFD;
     }
.hex{
    background-color: #F1FFFD
}
.gallery1{
    margin-bottom: 30px;
    
}
